body {
    font-family: Roboto;
}

.bluetooth {
    padding-top: 42px;
    background: #EDEDED;
}

.bluetooth > .heading {
    margin-top: 27px;
    margin-bottom: 20px;
}

.bluetooth__img {
    height: 288px;
    margin-top: 31px;
    background-image: url(img/top/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.bluetooth__img > .days {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
}

.bluetooth > .header svg {
    height: 34px;
}

#carouselIndicatorsSettings {
    margin: 35px 22px 95px 23px;
}

#carouselExampleIndicators {
    margin-top: 28px;
    margin-bottom: 28px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.flow {
    padding-top: 70px;
    background: #EDEDED;
}

.flow > .heading {
    padding-left: calc(50% - 187px);
    padding-right: calc(50% - 187px);
    margin-bottom: 23px;
}

.flow .text-content-margin {
    margin-bottom: 0px;
}

.flow_options_img {
    background-image: url(img/flow/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 36px;
    padding-bottom: 218px;
}

.flow_options_img {
    padding-left: 54px;
}

.flow_options_img ol .text {
    width: 224px;
    text-align: left;
}

.flow_options_img .text {
    padding-bottom: 16px;
}

.flow_options_img .text:last-child {
    padding-bottom: 0px;
}

.footer {
    padding-top: 22px;
    height: 75px;
    background-color: #2F3132;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    margin: auto;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
}

.info {
    padding-top: 70px;
    padding-bottom: 63px;
}

.info p {
    margin-bottom: 0px;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.info > .heading {
    margin-bottom: 20px;
}

.info__item {
    border: 1px solid #2F3132;
    display: inline-block;
    width: 166px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__item p {
    margin-bottom: 0px;
}

.info__item > .heading {
    margin-bottom: 5px;
}

.info__content > .info__item:first-child {
    margin-right: 6px;
}

.info__content {
    margin-top: 30px;
}

.info-text-content-margin {
    margin-left: 67px;
    margin-right: 61px;
}

.logo__top {
    width: 130px;
}

.mouse .heading {
    margin-top: 70px;
    margin-bottom: 20px;
}

.mouse-img {
    height: 310px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
    background-position: center;
}

.mouse-img.on-glass {
    background-image: url(img/mouse_section/image1.jpg);
    margin-bottom: 70px;
}

.mouse-img.on-something {
    background-image: url(img/mouse_section/image2.jpg);
}

.top .navbar>.container-fluid {
    justify-content: center;
}

.top .navbar {
    padding-top: 25px;
}

.top > .header .container-fluid .navbar-toggler {
    position: absolute;
    top: 25px;
    right: 28px;
}

.programs {
    display: flex;
    justify-content: space-between;
    padding: 23px 22px 20px 29px;
}

.settings {
    padding-top: 70px;
    background-color: #EDEDED;
}

.settings .heading {
    margin-bottom: 20px;
}

.settings-content {
    background-color: #C4C4C4;
    padding-bottom: 26px;
}

.settings-content .text {
    color: #FFFFFF;
    margin-bottom: 0px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.text-content-margin {
    margin-left: 36px;
    margin-right: 35px;
}

.top {
    background: #E0E1E2;
    padding-bottom: 48px;
}

.top__arrow {
    margin-top: 40px;
}

.top__arrow svg {
    width: 42px;
    height: 22px;
}

.top__img {
    margin-top: 94px;
    margin-bottom: 67px;
    background-image: url(img/top/MX-Master\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 230px;
}

.top__text {
    margin-left: 59px;
    margin-right: 59px;
}

.white__logo {
    display: none;
}

.settings_img > img {
    display: none;
}

@media (min-width: 768px) {
    .bluetooth {
        padding-top: 80px;
    }

    .bluetooth > .header svg {
        height: 40px;
    }

    .bluetooth .heading {
        margin-top: 39px;
        margin-bottom: 30px;
    }

    .bluetooth__img {
        background-image: url(img/top/768/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
        margin-top: 76px;
        height: 648px;
    }

    #carouselExampleIndicators {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    #carouselIndicatorsSettings {
        margin-bottom: 148px;
        margin-left: 199px;
        margin-right: 198px;
    }

    .count_days {
        font-size: 150px;
    }

    .flow {
        padding-top: 70px;
    }

    .flow > .heading {
        margin-bottom: 30px;
        padding-left: calc(50% - 187px);
        padding-right: calc(50% - 187px);
    }

    .flow > .text {
        padding-left: 64px;
        padding-right: 65px;
    }

    .flow_options_img {
        background-image: url(img/flow/768/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
        margin-top: 62px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 650px;
    }

    .flow_options_img ol {
        display: flex;
        justify-content: space-between;
        list-style-position: inside;
        padding-left: 0px;
    }

    .flow_options_img {
        background-image: url(img/flow/1024/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
        padding-left: 67px;
        padding-right: 68px;
    }

    .flow_options_img li {
        width: auto;
        height: 60px;
        padding-left: 28px;
        padding-right: 15px;
        border-left: 1px solid #494949;
    }

    .flow_options_img li:first-child {
        border: none;
        padding-left: 0px;
    }

    .flow_options_img ol .text {
        margin: auto;
        text-align: left;
        font-size: 20px;
        width: auto;
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .info__content .heading {
        margin-bottom: 10px;
    }

    .info__content .info__item {
        width: 300px;
        height: 170px;
    }
    
    .info__content > .info__item:first-child {
        margin-right: 30px;
    }

    .info__content .text {
        padding-right: 32px;
        padding-left: 31px;
    }

    .info__heading {
        font-size: 24px;
    }

    .text__days {
        font-size: 150px;
    }
    
    .heading {
        font-size: 40px;
        line-height: 47px;
    }

    .info {
        padding-top: 70px;
        padding-bottom: 61px;
    }

    .info > .heading {
        margin-bottom: 30px;
    }

    .logo__top {
        width: 240px;
    }

    .mouse .heading {
        margin-bottom: 30px;
    }

    .mouse .heading:first-child {
        margin-left: 67px;
        margin-right: 65px;
    }

    .mouse .heading {
        margin-left: 171px;
        margin-right: 171px;
    }

    .mouse .text {
        margin-left: 67px;
        margin-right: 65px;
    }

    .mouse-img {
        margin-top: 50px;
    }

    .mouse-img.on-glass {
        background-image: url(img/mouse_section/768/image\ 1.jpg);
    }

    .mouse-img.on-something {
        background-image: url(img/mouse_section/768/image\ 2.jpg);
    }

    .programs {
        padding: 38px 126px 25px 127px;
    }

    .programs img {
        height: 36px;
    }

    .top {
        padding-bottom: 80px;
    }

    .top .navbar {
        padding-top: 54px;
    }
    
    .top .container-fluid .navbar-toggler {
        top: 54px;
        right: 58px;
    }

    .top__img {
        margin-top: 160px;
        margin-bottom: 124px;
        height: 514px;
    }

    .text {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #2F3132;
    }

    .top__text {
        margin-left: 154px;
        margin-right: 155px;
    }

    .top__arrow {
        margin-top: 76px;
    }

    .top__arrow svg {
        width: 57px;
        height: 29px;
    }

    .text-content-margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .settings > .heading {
        margin-left: 64px;
        margin-right: 65px;
        margin-bottom: 30px;
    }

    .settings > .text {
        margin-left: 64px;
        margin-right: 65px;
        margin-bottom: 54px;
    }

    .settings-content {
        margin-left: 64px;
        margin-right: 65px;
        margin-bottom: 70px;
        padding-bottom: 29px;
    }

    .settings {
        padding-bottom: 70px;
    }

    .footer {
        padding-top: 47px;
        height: 150px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media (min-width: 1024px) {
    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .bluetooth .heading {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .bluetooth .text {
        margin-bottom: 59px;
    }

    .bluetooth__img {
        height: 425px;
        background: url(img/top/1024/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 109px,
        url(img/top/1024/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png) no-repeat right 109px;
    }

    .bluetooth .days {
        display: flex;
        justify-content: center;
        padding-left: 105px;
    }

    .text__days {
        padding-top: 45px;
    }

    .count_days {
        padding-top: 103px;
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .count_days {
        font-size: 300px;
    }

    #carouselExampleIndicators {
        padding-left: calc(50% - 640);
        padding-right: calc(50% - 640);
    }

    .text__days {
        font-size: 96px;
    }

    .dark__logo {
        display: none;
    }

    .info {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info .heading {
        padding-bottom: 35px;
    }

    #navbarNav {
        margin-left: 147px;
    }

    .nav-item {
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid #494949;
    }

    .nav-item:first-child {
        padding-left: 0px;
    }

    .nav-item:last-child {
        padding-right: 0px;
        border: none;
    }

    .heading {
        font-size: 36px;
    }

    .info__item .heading {
        padding-bottom: 0px;
    }

    .info__heading {
        font-size: 24px;
    }

    .flow {
        padding-top: 100px;
    }

    .flow > .heading {
        margin-bottom: 35px;
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .flow .text-content-margin {
        margin-bottom: 64px;
    }

    .flow_center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .text {
        font-size: 20px;
    }

    .top .navbar-light .navbar-nav .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }

    .top .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: 1px solid #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .top .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0px;
        padding-right: 0px;
    }

    .top > .header {
        height: 100px;
        background: #2F3132;
        display: flex;
        align-items: center;
    }

    .top .navbar {
        padding-top: 0px;
    }

    .top__img {
        height: 585px;
        margin-top: 100px;
        margin-bottom: 8px;
    }

    .top__arrow {
        margin-top: 49px;
    }

    .settings_img {
        display: flex;
        justify-content: center;
    }

    #carouselIndicatorsSettings {
        display: none;
    }

    .settings {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .settings > .heading {
        margin-bottom: 38px;
    }

    .settings > .text {
        margin-bottom: 72px;
    }

    .settings-content {
        margin-top: 0px;
        width: 749px;
        margin-left: calc(50% - 374px);
        margin-right: calc(50% - 374px);
    }

    .white__logo {
        display: block;
        width: 150px;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse__item {
        height: 557px;
        width: 50%;
    }

    .mouse_center {
        padding-left: calc(50% - 654px);
        padding-right: calc(50% - 654px);
    }

    .block1 {
        padding-right: 217px;
        order: 2;
    }

    .block1 .heading {
        text-align: left;
    }

    .block1 .text {
        text-align: left;
    }

    .block3 {
        padding-left: 217px;
        order: 3;
    }

    .block3 .heading {
        text-align: right;
    }

    .block3 .text {
        text-align: right;
    }
    
    .block2 {
        background-image: url(img/mouse_section/1024/image\ 1.png);
        order: 1;
    }
    
    .block4 {
        background-image: url(img/mouse_section/1024/image\ 2.png);
        order: 4;
    }

    .mouse__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .mouse-img {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .mouse-img {
        display: none;
    }

    .mouse {
        padding-top: 100px;
    }
}